.categories-products__title {
    text-align: center;
    font-size: 2rem;
}

.categories-products__form {
    display: flex;
}

.categories-products__products {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.categories-products .bootstrap-touchspin {
    display: flex;
}

.categories-products__form input[name='qty'] {
    width: 3rem;
}

.categories-products__btn-add-to-cart {
    margin-left: .5rem;
    width: 100%;
}

.categories-products__image,
.categories-products__product-title {
    margin-bottom: 1rem;
}

.categories-products__prices {
    margin-top: auto;
    margin-bottom: 1rem;
}

.categories-products__products {
    display: flex;
}

.categories-products__products .owl-stage {
    display: flex;
}

.categories-products__products .owl-item {
    height: auto;
    display: flex;
    flex-direction: column;
}

.categories-products__products .item, .categories-products__products article {
    height: 100%;
}

.categories-products__products article {
    display: flex;
    flex-direction: column;
}

.categories-products__products .owl-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories-products__products .owl-nav button.owl-prev,
.categories-products__products .owl-nav button.owl-next {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories-products__products .owl-nav button.owl-prev.disabled,
.categories-products__products .owl-nav button.owl-next.disabled {
    opacity: 0;
}

.categories-products__products .regular-price {
    opacity: .75;
    text-decoration: line-through;
}